<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="app.js"></script>
    <title>quips</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">

</head>
<body>
    <h1>translate?</h1>
      <form class="translate">
        <div class="box">
          <div class="input">
            <textarea name="text"></textarea>
            input text
          </div>
          <div class="target">
            <select name="target_lang">
              <option value="afr">Afrikaans</option>
              <option value="amh">Amharic</option>
              <option value="arb">Modern Standard Arabic</option>
              <option value="ary">Moroccan Arabic</option>
              <option value="arz">Egyptian Arabic</option>
              <option value="asm">Assamese</option>
              <option value="azj">North Azerbaijani</option>
              <option value="bel">Belarusian</option>
              <option value="ben">Bengali</option>
              <option value="bos">Bosnian</option>
              <option value="bul">Bulgarian</option>
              <option value="cat">Catalan</option>
              <option value="ceb">Cebuano</option>
              <option value="ces">Czech</option>
              <option value="ckb">Central Kurdish</option>
              <option value="cmn">Mandarin Chinese</option>
              <option value="cmn_Hant">Mandarin Chinese</option>
              <option value="cym">Welsh</option>
              <option value="dan">Danish</option>
              <option value="deu">German</option>
              <option value="ell">Greek</option>
              <option value="eng">English</option>
              <option value="est">Estonian</option>
              <option value="eus">Basque</option>
              <option value="fin">Finnish</option>
              <option value="fra">French</option>
              <option value="fuv">Nigerian Fulfulde</option>
              <option value="gaz">West Central Oromo</option>
              <option value="gle">Irish</option>
              <option value="glg">Galician</option>
              <option value="guj">Gujarati</option>
              <option value="heb">Hebrew</option>
              <option value="hin">Hindi</option>
              <option value="hrv">Croatian</option>
              <option value="hun">Hungarian</option>
              <option value="hye">Armenian</option>
              <option value="ibo">Igbo</option>
              <option value="ind">Indonesian</option>
              <option value="isl">Icelandic</option>
              <option value="ita">Italian</option>
              <option value="jav">Javanese</option>
              <option value="jpn">Japanese</option>
              <option value="kan">Kannada</option>
              <option value="kat">Georgian</option>
              <option value="kaz">Kazakh</option>
              <option value="khk">Halh Mongolian</option>
              <option value="khm">Khmer</option>
              <option value="kir">Kyrgyz</option>
              <option value="kor">Korean</option>
              <option value="lao">Lao</option>
              <option value="lit">Lithuanian</option>
              <option value="lug">Ganda</option>
              <option value="luo">Luo</option>
              <option value="lvs">Standard Latvian</option>
              <option value="mai">Maithili</option>
              <option value="mal">Malayalam</option>
              <option value="mar">Marathi</option>
              <option value="mkd">Macedonian</option>
              <option value="mlt">Maltese</option>
              <option value="mni">Meitei</option>
              <option value="mya">Burmese</option>
              <option value="nld">Dutch</option>
              <option value="nno">Norwegian Nynorsk</option>
              <option value="nob">Norwegian Bokmål</option>
              <option value="npi">Nepali</option>
              <option value="nya">Nyanja</option>
              <option value="ory">Odia</option>
              <option value="pan">Punjabi</option>
              <option value="pbt">Southern Pashto</option>
              <option value="pes">Western Persian</option>
              <option value="pol">Polish</option>
              <option value="por">Portuguese</option>
              <option value="ron">Romanian</option>
              <option value="rus">Russian</option>
              <option value="slk">Slovak</option>
              <option value="slv">Slovenian</option>
              <option value="sna">Shona</option>
              <option value="snd">Sindhi</option>
              <option value="som">Somali</option>
              <option value="spa">Spanish</option>
              <option value="srp">Serbian</option>
              <option value="swe">Swedish</option>
              <option value="swh">Swahili</option>
              <option value="tam">Tamil</option>
              <option value="tel">Telugu</option>
              <option value="tgk">Tajik</option>
              <option value="tgl">Tagalog</option>
              <option value="tha">Thai</option>
              <option value="tur">Turkish</option>
              <option value="ukr">Ukrainian</option>
              <option value="urd">Urdu</option>
              <option value="uzn">Northern Uzbek</option>
              <option value="vie">Vietnamese</option>
              <option value="yor">Yoruba</option>
              <option value="yue">Cantonese</option>
              <option value="zsm">Standard Malay</option>
              <option value="zul">Zulu</option>
            </select>
            target language
          </div>
          <div class="slider">
            <input type="range" name="correlation" id="correlation" min="3" max="80" step="0.7" value="{{ request.args.get('correlation', '29.3') }}" />
            similarity to target language
          </div>
        </div>
        <input style="background-color:white; text-align:center; font-size:100px; font-family: UnifrakturMaguntia;" type="submit" value="translate!"/>
      </form>
      <div class="loadingSpinner"></div>
      <div class="res"></div>
</body>
</html>